## MongoDB

### Instalation
#### macOS
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/
#### Windows
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/
#### Ubuntu
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/

### MongoCompass (GUI)
https://www.mongodb.com/try/download/compass

In [1]:
### pymongo
# pip3 install pymongo

## Connecting to MongoDB

In [83]:
import pandas as pd
from pymongo import MongoClient

In [3]:
client = MongoClient()

In [4]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
db = client.get_database("datamad1020")

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'datamad1020')

In [35]:
inst = db.instructors.find({})

In [36]:
for i in inst:
    print(i.get("name", "Ghost of past instructors"))

Adriana
Juan
Felipe
Ghost of past instructors

In [37]:
db.databasequenoexiste.find({})

In [38]:
list(db.databasequenoexiste.find({}))

[]

## Querying

In [ ]:
?db.companies.find

In [46]:
name = "name"

In [47]:
# Getting facebook
res = db.companies.find({name:"Facebook"})

In [48]:
res = list(res)

In [49]:
len(res)

1

In [51]:
type(res[0])

dict

In [52]:
res[0]["name"]

'Facebook'

In [53]:
all_doc = list(db.companies.find({}))

In [55]:
len(all_doc)

18801

In [62]:
#### Documents DO NOT NECESARILY HAVE the same keys
keys = list(map(lambda x: x.keys(),all_doc))

In [64]:
list(set([k for lst in keys for k in lst]))[:3]

['twitter_username', 'email_address', 'total_money_raised']

### Searching for specific value
- key:value

In [72]:
len(list(db.companies.find({"name":"Google"})))

1

In [71]:
len(list(db.companies.find({"founded_year":2000})))

521

### Operators

#### Comparison
- `$gt` ---> > 
- `$gte` ---> >=
- `$lt` ---> <
- `$lte` ---> <=
- `$eq` ---> ==
- `$ne` ---> !=
- `$in` ---> in
- `$nin` ---> not in

#### Logical
- `$or` ---> or
- `$and` ---> and
- `$not` ---> not

#### Element
- `$exists`
- `$type` ---> type(x) == ...

#### Other
- `$regex` ---> rel 

#### Equivalences
- true,false ---> True, False
- null ---> None

In [74]:
## Companies founded before 1980
len(list(db.companies.find({"founded_year":{"$lt":1980}})))

342

In [79]:
## Companies founded between 1971 and 1980
res = list(db.companies.find({"founded_year":{"$gte":1971, "$lte":1980}}))
set([document["founded_year"] for document in res])

{1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980}

In [81]:
companies_by_year = {}
for comp in res:
    year = comp["founded_year"]
    companies_by_year[year] = companies_by_year.get(year,0) + 1

In [82]:
companies_by_year

{1979: 25,
 1971: 13,
 1976: 15,
 1980: 28,
 1974: 7,
 1972: 8,
 1973: 7,
 1978: 19,
 1975: 7,
 1977: 3}

In [88]:
df = pd.DataFrame(res)
df.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d93,Fox Interactive Media,fox-interactive-media,http://www.crunchbase.com/company/fox-interact...,http://www.newscorp.com,,,twitterapi,web,0.0,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 20000000, 'price_currency_co...","[{'description': '', 'address1': '407 N Maple ...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
1,52cdef7c4bab8bd675297d9f,Viacom,viacom,http://www.crunchbase.com/company/viacom,http://www.viacom.com,,,viacom,web,NaN,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 64000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '1515 Broad...","[{'id': 9983, 'description': 'Harmonix Music S...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 115], 'assets/ima...",[],[]
2,52cdef7c4bab8bd675297e12,Ticketmaster,ticketmaster,http://www.crunchbase.com/company/ticketmaster,http://www.ticketmaster.com,,,Ticketmaster,web,0.0,...,"[{'funding_round': {'round_code': 'b', 'source...","{'price_amount': None, 'price_currency_code': ...","[{'price_amount': 265000000, 'price_currency_c...","[{'description': 'World Headquarters', 'addres...",[],None,[],"[{'available_sizes': [[[102, 150], 'assets/ima...",[],[]
3,52cdef7c4bab8bd675297f33,Digitas,digitas,http://www.crunchbase.com/company/digitas,http://www.digitas.com,,,,web,NaN,...,[],"{'price_amount': 1300000000, 'price_currency_c...","[{'price_amount': 200000000, 'price_currency_c...","[{'description': 'Corporate Headquarters', 'ad...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...",[],[],[]
4,52cdef7c4bab8bd67529801a,EchoStar,echostar,http://www.crunchbase.com/company/echostar,http://EchoStar.com,,,EchoStar,hardware,NaN,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 380000000, 'price_currency_c...","[{'description': '', 'address1': '100 Invernes...","[{'id': 14649, 'description': 'EchoStar Corpor...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 88], 'assets/imag...",[{'external_url': 'http://www.theamericandisht...,[]

In [86]:
df["founded_year"].value_counts()

1980    28
1979    25
1978    19
1976    15
1971    13
1972     8
1975     7
1974     7
1973     7
1977     3
Name: founded_year, dtype: int64

In [89]:
# Companies founded before 1990 with more than 1000 employees
len(list(db.companies.find({"founded_year":{"$lt":1990}, "number_of_employees":{"$gt":1000}})))

114

In [93]:
# Companies with less than 30 employees that have the field number_of_employees
# PROJECT, the second parameter of .find()
list(db.companies.find({"number_of_employees":{"$lt":30}, "name":{"$regex":"^[Ff].*"}}, 
                       {"name":1,"number_of_employees":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297d93'),
  'name': 'Fox Interactive Media',
  'number_of_employees': 0},
 {'_id': ObjectId('52cdef7c4bab8bd675297de7'),
  'name': 'Fleck',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7c4bab8bd675297ded'),
  'name': 'Farecast',
  'number_of_employees': 26},
 {'_id': ObjectId('52cdef7c4bab8bd675297e60'),
  'name': 'FeVote',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7c4bab8bd675297edc'),
  'name': 'Filtrbox',
  'number_of_employees': 14},
 {'_id': ObjectId('52cdef7c4bab8bd675297f0a'),
  'name': 'FilmLoop',
  'number_of_employees': 0},
 {'_id': ObjectId('52cdef7c4bab8bd675297f85'),
  'name': 'FAROO',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7c4bab8bd675297fb5'),
  'name': 'Feedjit',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7c4bab8bd675298029'),
  'name': 'FlexiScale',
  'number_of_employees': 24},
 {'_id': ObjectId('52cdef7c4bab8bd67529806f'),
  'name': 'FeedMorf',
  'number_of_employees': 0},
 {'_id': ObjectId('52cdef7c4bab8bd675298072'),
  'name': 'Floobs',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7c4bab8bd675298098'),
  'name': 'FilmCrave',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7c4bab8bd6752980a2'),
  'name': 'Faves',
  'number_of_employees': 7},
 {'_id': ObjectId('52cdef7c4bab8bd675298179'),
  'name': 'Flixwagon',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7c4bab8bd6752981df'),
  'name': 'FamCorner',
  'number_of_employees': 6},
 {'_id': ObjectId('52cdef7c4bab8bd6752981ed'),
  'name': 'Frevvo',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7c4bab8bd67529822d'),
  'name': 'FotoFlexer',
  'number_of_employees': 17},
 {'_id': ObjectId('52cdef7c4bab8bd675298232'),
  'name': 'First30Days',
  'number_of_employees': 17},
 {'_id': ObjectId('52cdef7c4bab8bd675298242'),
  'name': 'FutonMedia',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7c4bab8bd675298275'),
  'name': 'FUPEI',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7c4bab8bd6752982f5'),
  'name': 'Fat Goose',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7c4bab8bd67529830a'),
  'name': 'Fluc',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7c4bab8bd675298324'),
  'name': 'FeedJournal',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7c4bab8bd675298334'),
  'name': 'FaceTec',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7c4bab8bd67529833d'),
  'name': 'Foneshow',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7c4bab8bd67529833c'),
  'name': 'fotopedia',
  'number_of_employees': 17},
 {'_id': ObjectId('52cdef7c4bab8bd6752983e9'),
  'name': 'FixSor',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7c4bab8bd6752983f9'),
  'name': 'Fifteen Reasons',
  'number_of_employees': 6},
 {'_id': ObjectId('52cdef7c4bab8bd675298419'),
  'name': 'Folkstr',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7c4bab8bd675298440'),
  'name': 'FUNFOOTER',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7c4bab8bd675298446'),
  'name': 'Fanpop',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7c4bab8bd6752985d3'),
  'name': 'FuelMyBlog',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7c4bab8bd67529867b'),
  'name': 'Faraday Media',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7c4bab8bd675298688'),
  'name': 'Fresho',
  'number_of_employees': 11},
 {'_id': ObjectId('52cdef7c4bab8bd6752986bf'),
  'name': 'Franson Technology AB',
  'number_of_employees': 7},
 {'_id': ObjectId('52cdef7c4bab8bd6752986d1'),
  'name': 'Familybuilder',
  'number_of_employees': 6},
 {'_id': ObjectId('52cdef7c4bab8bd675298774'),
  'name': 'FinFolio',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7c4bab8bd675298783'),
  'name': 'Fourth Media Technologies',
  'number_of_employees': 20},
 {'_id': ObjectId('52cdef7c4bab8bd675298794'),
  'name': 'FragMob',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7c4bab8bd6752987d0'),
  'name': 'Fubra',
  'number_of_employees': 25},
 {'_id': ObjectId('52cdef7c4bab8bd675298881'),
  'name': 'ForteMall',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7c4bab8bd67529888c'),
  'name': 'FlipKey',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd6752988bf'),
  'name': 'FeedFlix',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd6752988e7'),
  'name': 'Firewall Script',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd6752988fe'),
  'name': 'FreedomSpeaks',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd67529895c'),
  'name': 'Fotolink Media',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675298976'),
  'name': 'FusionOps',
  'number_of_employees': 25},
 {'_id': ObjectId('52cdef7d4bab8bd6752989b7'),
  'name': 'FantasyBook',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd6752989c8'),
  'name': 'Fanzter',
  'number_of_employees': 9},
 {'_id': ObjectId('52cdef7d4bab8bd6752989e8'),
  'name': 'Fave Media',
  'number_of_employees': 18},
 {'_id': ObjectId('52cdef7d4bab8bd6752989de'),
  'name': 'Friend2Friend',
  'number_of_employees': 20},
 {'_id': ObjectId('52cdef7d4bab8bd675298a0c'),
  'name': 'FuelClinic',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675298a36'),
  'name': 'FRoSP',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675298a4d'),
  'name': 'Fuzz',
  'number_of_employees': 6},
 {'_id': ObjectId('52cdef7d4bab8bd675298a8a'),
  'name': 'Fonemesh',
  'number_of_employees': 7},
 {'_id': ObjectId('52cdef7d4bab8bd675298b25'),
  'name': 'Flixya',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675298b3a'),
  'name': 'Fliqz',
  'number_of_employees': 25},
 {'_id': ObjectId('52cdef7d4bab8bd675298bbc'),
  'name': 'Forward Thinking',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675298c26'),
  'name': 'FliteHaus Creative Agency',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675298c19'),
  'name': 'Fabric Interactive',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675298c35'),
  'name': 'FanDriveMedia',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675298ce5'),
  'name': 'Freeverse',
  'number_of_employees': 18},
 {'_id': ObjectId('52cdef7d4bab8bd675298d19'),
  'name': 'feedbackZone',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675298d6f'),
  'name': 'FundraisingIP',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675298d8d'),
  'name': 'Faneebo',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd675298d9b'),
  'name': 'Flow TV',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd675298dcb'),
  'name': 'FPGA Central',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7d4bab8bd675298e27'),
  'name': 'Free classified Ads',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675298e4a'),
  'name': 'Frequent Flyer Network',
  'number_of_employees': 25},
 {'_id': ObjectId('52cdef7d4bab8bd675298e56'),
  'name': 'Fortress Data Vaulting',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd675298e95'),
  'name': 'fundfindr',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675298ebf'),
  'name': 'Faulkner Technologies',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd675298f09'),
  'name': 'Farallon Geographics',
  'number_of_employees': 11},
 {'_id': ObjectId('52cdef7d4bab8bd675298f0b'),
  'name': 'Feedity',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675298f63'),
  'name': 'Freeportway',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675298f6b'),
  'name': 'Flimp Media',
  'number_of_employees': 15},
 {'_id': ObjectId('52cdef7d4bab8bd675298f7a'),
  'name': 'Forvo',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675298fa6'),
  'name': 'Fast Edition',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd6752990d6'),
  'name': 'Flexbit',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd67529917d'),
  'name': 'Fixie',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299205'),
  'name': 'Fan History',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd67529920f'),
  'name': 'Fraktal',
  'number_of_employees': 9},
 {'_id': ObjectId('52cdef7d4bab8bd675299221'),
  'name': 'Festuc',
  'number_of_employees': 6},
 {'_id': ObjectId('52cdef7d4bab8bd67529923c'),
  'name': 'Funpiper',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675299251'),
  'name': 'FilmGator',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd67529925b'),
  'name': 'FABINET',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd6752992fc'),
  'name': 'FoodCare',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd6752993d2'),
  'name': 'FUNKY BUSINESS',
  'number_of_employees': 11},
 {'_id': ObjectId('52cdef7d4bab8bd67529943f'),
  'name': 'Forces365',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd67529946a'),
  'name': 'Fascikla',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299475'),
  'name': 'Fiisoft',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd6752994c2'),
  'name': 'FinancialContent',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd67529952d'),
  'name': 'fliply',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd6752995e9'),
  'name': 'Fotoviewr',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299603'),
  'name': 'Fluther',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299635'),
  'name': 'Foodzie',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675299651'),
  'name': 'FlipMyText',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd67529968f'),
  'name': 'FohBoh',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd6752996a1'),
  'name': 'Floatopian',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd6752996da'),
  'name': 'Franglo',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd67529970b'),
  'name': 'Flying Cart',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299734'),
  'name': 'FMYI',
  'number_of_employees': 16},
 {'_id': ObjectId('52cdef7d4bab8bd675299728'),
  'name': 'Future Delivery',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd67529974a'),
  'name': 'Foodista',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299776'),
  'name': 'frankst0ned',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd6752997dc'),
  'name': 'Fancorps',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd6752997e8'),
  'name': 'Flashants',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd6752997f8'),
  'name': 'FiveSprockets',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675299877'),
  'name': 'Fresh Web Services',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299886'),
  'name': 'Fastmetrics',
  'number_of_employees': 9},
 {'_id': ObjectId('52cdef7d4bab8bd6752998b7'),
  'name': 'fliply',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675299973'),
  'name': 'Fotoviewr',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd67529998d'),
  'name': 'Fluther',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd6752999bf'),
  'name': 'Foodzie',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd6752999db'),
  'name': 'FlipMyText',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd675299a19'),
  'name': 'FohBoh',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675299a2b'),
  'name': 'Floatopian',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299a64'),
  'name': 'Franglo',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299a95'),
  'name': 'Flying Cart',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299ab2'),
  'name': 'Future Delivery',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd675299abe'),
  'name': 'FMYI',
  'number_of_employees': 16},
 {'_id': ObjectId('52cdef7d4bab8bd675299ad4'),
  'name': 'Foodista',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299b00'),
  'name': 'frankst0ned',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299b66'),
  'name': 'Fancorps',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675299b72'),
  'name': 'Flashants',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd675299b82'),
  'name': 'FiveSprockets',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd675299c01'),
  'name': 'Fresh Web Services',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299c10'),
  'name': 'Fastmetrics',
  'number_of_employees': 9},
 {'_id': ObjectId('52cdef7d4bab8bd675299c45'),
  'name': "For Art's Sake Media",
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd675299c5c'),
  'name': 'Factor Three Software',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd675299c5a'),
  'name': 'FriendFeedHolic',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675299c9b'),
  'name': 'FreeTreeTravel',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd675299ce0'),
  'name': 'Filemobile',
  'number_of_employees': 18},
 {'_id': ObjectId('52cdef7d4bab8bd675299d46'),
  'name': 'Flexidea Software',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd675299d48'),
  'name': 'Fat Dalmation',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7d4bab8bd675299d95'),
  'name': 'FYIndOut',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299dba'),
  'name': 'findwell',
  'number_of_employees': 7},
 {'_id': ObjectId('52cdef7d4bab8bd675299e45'),
  'name': 'FreeStudentEducation',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd675299e69'),
  'name': 'FlameUp',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299e74'),
  'name': 'fotoglif',
  'number_of_employees': 6},
 {'_id': ObjectId('52cdef7d4bab8bd675299eb9'),
  'name': 'FUSE',
  'number_of_employees': 7},
 {'_id': ObjectId('52cdef7d4bab8bd675299ed1'),
  'name': 'FanSpan',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7d4bab8bd675299eec'),
  'name': 'Fusion Creative Studios',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7d4bab8bd675299f89'),
  'name': 'Fabian Rossano Studio',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd675299f92'),
  'name': 'FamilyDen',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd675299f8d'),
  'name': 'FriendBinder',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7d4bab8bd675299fb4'),
  'name': 'Favy',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7d4bab8bd675299fe7'),
  'name': 'FanSnap',
  'number_of_employees': 21},
 {'_id': ObjectId('52cdef7d4bab8bd67529a01f'),
  'name': 'For Your Imagination',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd67529a00e'),
  'name': 'Formspring',
  'number_of_employees': 19},
 {'_id': ObjectId('52cdef7d4bab8bd67529a044'),
  'name': 'FACEinHOLE',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7d4bab8bd67529a047'),
  'name': 'friendmee',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7d4bab8bd67529a07e'),
  'name': 'Fonoempresa',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd67529a1f2'),
  'name': 'FiPath',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7d4bab8bd67529a206'),
  'name': 'Fruugo',
  'number_of_employees': 20},
 {'_id': ObjectId('52cdef7e4bab8bd67529a26a'),
  'name': 'FHOKE',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7e4bab8bd67529a279'),
  'name': 'Family-Mingle',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529a2c7'),
  'name': 'ForGrabs',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529a2d4'),
  'name': 'Flash Games Den',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529a324'),
  'name': 'FamilyCam Limited',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529a332'),
  'name': 'fanBunker',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7e4bab8bd67529a359'),
  'name': 'focusQA',
  'number_of_employees': 25},
 {'_id': ObjectId('52cdef7e4bab8bd67529a3b9'),
  'name': 'Fuzzyshot',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7e4bab8bd67529a3c9'),
  'name': 'find-guru',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529a4d6'),
  'name': 'Fanminder',
  'number_of_employees': 11},
 {'_id': ObjectId('52cdef7e4bab8bd67529a4eb'),
  'name': 'FileRide',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7e4bab8bd67529a568'),
  'name': 'Friendzbook',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7e4bab8bd67529a5f8'),
  'name': 'Fitnio',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7e4bab8bd67529a601'),
  'name': 'Frontware International',
  'number_of_employees': 25},
 {'_id': ObjectId('52cdef7e4bab8bd67529a63b'),
  'name': 'Foundry Interactive',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7e4bab8bd67529a74e'),
  'name': 'FundaSite',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529a759'),
  'name': 'FraudLabs',
  'number_of_employees': 20},
 {'_id': ObjectId('52cdef7e4bab8bd67529a763'),
  'name': 'FK3',
  'number_of_employees': 15},
 {'_id': ObjectId('52cdef7e4bab8bd67529a76a'),
  'name': 'First on Mars',
  'number_of_employees': 12},
 {'_id': ObjectId('52cdef7e4bab8bd67529a7ac'),
  'name': 'FixTunes',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7e4bab8bd67529a7a5'),
  'name': 'Friendsta',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7e4bab8bd67529a823'),
  'name': 'Friend Connect Directory',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529a82c'),
  'name': 'FilmSuggest',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7e4bab8bd67529a831'),
  'name': 'Focus-N-Fly',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529a848'),
  'name': 'FutureTap',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529a8e0'),
  'name': 'Fliiby',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7e4bab8bd67529a8d8'),
  'name': 'Fachak',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7e4bab8bd67529a903'),
  'name': 'Fotohoo',
  'number_of_employees': 2},
 {'_id': ObjectId('52cdef7e4bab8bd67529a94f'),
  'name': 'FilerFrog',
  'number_of_employees': 3},
 {'_id': ObjectId('52cdef7e4bab8bd67529a959'),
  'name': 'Flyapp',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529a98b'),
  'name': 'Fan Media Network',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa19'),
  'name': 'Free Ads UK',
  'number_of_employees': 7},
 {'_id': ObjectId('52cdef7e4bab8bd67529aaa9'),
  'name': 'facelovefinder',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529ab18'),
  'name': 'FunAdvice',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7e4bab8bd67529ab1a'),
  'name': 'fefoo',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529ab2a'),
  'name': 'FACE Africa',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529ab3f'),
  'name': 'Fluid Pixel',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529ab8d'),
  'name': 'Flowz',
  'number_of_employees': 4},
 {'_id': ObjectId('52cdef7e4bab8bd67529abc3'),
  'name': 'Factor IT',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7e4bab8bd67529abd0'),
  'name': 'Free Ads Australia',
  'number_of_employees': 5},
 {'_id': ObjectId('52cdef7e4bab8bd67529abdf'),
  'name': 'Filmed Media',
  'number_of_employees': 10},
 {'_id': ObjectId('52cdef7e4bab8bd67529abe5'),
  'name': 'Futurelab',
  'number_of_employees': 8},
 {'_id': ObjectId('52cdef7e4bab8bd67529abe1'),
  'name': 'Fail Fund',
  'number_of_employees': 1},
 {'_id': ObjectId('52cdef7e4bab8bd67529abf4'),
  'name': 'Feedback Army',

In [118]:
# Idem, sorted by number of employees desc.
filter_q = {"number_of_employees":{"$lt":30}, "name":{"$regex":"^[Ff].*"}}
project = {"name":1,"number_of_employees":1}
cur = db.companies.find(filter_q,project).sort([("number_of_employees",-1)])
print(next(cur))
print(next(cur))
print(next(cur))

{'_id': ObjectId('52cdef7c4bab8bd675297ded'), 'name': 'Farecast', 'number_of_employees': 26}
{'_id': ObjectId('52cdef7c4bab8bd6752987d0'), 'name': 'Fubra', 'number_of_employees': 25}
{'_id': ObjectId('52cdef7d4bab8bd675298976'), 'name': 'FusionOps', 'number_of_employees': 25}

In [120]:
# Idem ibidem, but limited to 4 results
cur = db.companies.find(filter_q,project).sort([("number_of_employees",-1)])
print(len(list(cur)))

cur = db.companies.find(filter_q,project).sort([("number_of_employees",-1)])
top_4 = cur.limit(4)
print(len(list(top_4)))

305
4

### HOW TO QUERY MONGO WITH PYMONGO

```python
from pymongo import MongoClient
client = MongoClient()
db = client.get_database("database_name")
coll = db.colection_name

coll.find(filter_query,project).sort([("att",1),("att2",-1)]).skip(s).limit(l)
```

#### SQL equivalent

```sql
SELECT <project_columns>
    FROM db.coll
WHERE <filter_conditions>
ORDER BY <sort_conditions>
LIMIT s,l;
```

## Inserting Data

In [161]:
students = """Adrian Madrid
Alba Ãlvaro de Mingo
Alberto JimÃ©nez DomÃ­nguez
Alejandro Medina Ortiz
Angela GÃ³mez FernÃ¡ndez
Antonio Ortiz
Blanca de Ochoa SantamarÃ­a
Borja Del RÃ­o
Candela GarcÃ­a FernÃ¡ndez
Carlos Vila-San Juan
Clayton Louden
Cristina Arenas
Eduardo Oporto Alonso
Gerardo Vitale
Gonzalo Arroyo TomÃ¡s
Ignacio OrdovÃ¡s
Isabel Searle Riesgo"""
students_list = students.split("\n")

In [171]:
students = map(lambda x: x.split(" ",1),students_list)

In [172]:
coll = db.students

In [198]:
## Insert a single document at a time
insert_result = coll.insert_one({"name":"Paco","last_name":"Lopez"})

In [202]:
obj_id = insert_result.inserted_id
obj_id

ObjectId('5fabd660eb3f885e673ce87d')

In [203]:
type(obj_id)

bson.objectid.ObjectId

In [174]:
# A for loop to insert many
for stud in students:
    s = {
        "name":stud[0],
        "last_name":stud[-1]
        }
    coll.insert_one(s)

In [167]:
## Inserting many at a time
all_students = list(map(lambda stud: {"name":stud[0],"last_name":stud[-1], "course":"Data Analytics Full Time"},students))

In [169]:
all_students[:5]

[{'name': 'Adrian',
  'last_name': 'Madrid',
  'course': 'Data Analytics Full Time'},
 {'name': 'Alba',
  'last_name': 'Ãlvaro de Mingo',
  'course': 'Data Analytics Full Time'},
 {'name': 'Alberto',
  'last_name': 'JimÃ©nez DomÃ­nguez',
  'course': 'Data Analytics Full Time'},
 {'name': 'Alejandro',
  'last_name': 'Medina Ortiz',
  'course': 'Data Analytics Full Time'},
 {'name': 'Angela',
  'last_name': 'GÃ³mez FernÃ¡ndez',
  'course': 'Data Analytics Full Time'}]

In [170]:
coll.insert_many(all_students)

## Update Data
https://docs.mongodb.com/manual/reference/operator/update/

In [179]:
coll.update_one({"name":"Adrian"}, {"$set":{"dob":"25/03"}})

In [194]:
update_result = coll.update_one({"name":"Borja"}, {"$set":{"dob":"02/08"}})

In [195]:
update_result.matched_count

1

In [196]:
update_result.modified_count

1

In [197]:
update_result.raw_result

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [205]:
list(coll.find({"name":"Eduardo"}))

[{'_id': ObjectId('5fabd486eb3f885e673ce878'),
  'name': 'Eduardo',
  'last_name': 'Oporto Alonso'}]

In [206]:
from bson import ObjectId

In [207]:
edu_id = ObjectId("5fabd486eb3f885e673ce878")
edu_id

ObjectId('5fabd486eb3f885e673ce878')

In [208]:
list(coll.find({"_id":edu_id}))

[{'_id': ObjectId('5fabd486eb3f885e673ce878'),
  'name': 'Eduardo',
  'last_name': 'Oporto Alonso'}]

In [210]:
coll.update_one({"_id":edu_id},{"$set":{"dob":"29/03"}})

In [211]:
## UPDATE MANY
res = coll.update_many({},{"$set":{"course":"Data Analytics Full Time"}})

In [213]:
res.raw_result

{'n': 19, 'nModified': 19, 'ok': 1.0, 'updatedExisting': True}

In [216]:
res = coll.update_many({"name":{"$regex":"^[Aa].*"}},{"$set":{"letter":"A"}})

In [217]:
res.raw_result

{'n': 6, 'nModified': 6, 'ok': 1.0, 'updatedExisting': True}

In [218]:
from string import ascii_uppercase
for letter in ascii_uppercase:
    coll.update_many({"name":{"$regex":f"^[{letter}{letter.lower()}].*"}},{"$set":{"letter":letter}})

### Having fun

In [222]:
courses = [
    {
        "name":"Data",
        "time":"full",
        "instructors":["Felipe", "Adri", "Juan"]
    },
    {
        "name":"Web",
        "time":"full",
        "instructors":["GermÃ¡n", "Enrique", "Dayan"]
    }
]
res = db.courses.insert_many(courses)

In [223]:
res.inserted_ids

[ObjectId('5fabdc83eb3f885e673ce87e'), ObjectId('5fabdc83eb3f885e673ce87f')]

In [224]:
coll.update_many({},{"$set":{"course":ObjectId('5fabdc83eb3f885e673ce87e')}})

In [225]:
coll.update_one({"name":"Pepe"},{"$set":{"course":ObjectId('5fabdc83eb3f885e673ce87f')}})

In [228]:
course_id=list(coll.find({"name":"Gonzalo"}))[0]["course"]

In [229]:
course_id

ObjectId('5fabdc83eb3f885e673ce87e')

In [231]:
list(db.courses.find({"_id":course_id}))

[{'_id': ObjectId('5fabdc83eb3f885e673ce87e'),
  'name': 'Data',
  'time': 'full',
  'instructors': ['Felipe', 'Adri', 'Juan']}]