In [109]:
from pymongo import MongoClient, GEO2D
from bson import json_util
import pandas as pd
import json

In [2]:
client = MongoClient()

In [5]:
db = client.get_database("datamad1020")
coll = db.companies_unwinded

### Create 2dsphere index

In [13]:
res = coll.create_index([("coord", "2dsphere")])

In [14]:
res

'coord_2dsphere'

### Save mongodb query to json file

In [22]:
res = coll.find({"founded_year":{"$gte":2010}})

In [23]:
res = list(res)

In [35]:
with open("data/comp_selec.json", "w+") as file:
    file.write(json_util.dumps(res))

In [38]:
pd.read_json("data/comp_selec.json").head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners,coord
0,{'$oid': '5fae52970c9f40b6d220a472'},Mokitown,mokitown,http://www.crunchbase.com/company/mokitown,http://www.mokitown.com,,,,web,NaN,...,None,[],"{'description': None, 'address1': None, 'addre...",[],None,[],"[{'available_sizes': [[[150, 76], 'assets/imag...",[],[],"{'type': 'Point', 'coordinates': [-95.712891, ..."
1,{'$oid': '5fae52970c9f40b6d220a55f'},PeekYou,peekyou,http://www.crunchbase.com/company/peekyou,http://www.peekyou.com,http://www.peekyou.biz,http://blog.peekyou.com/feed/,peekyou,search,20.0,...,None,[],"{'description': None, 'address1': None, 'addre...","[{'id': 18106, 'description': 'Launched in Ste...",None,"[{'embed_code': '<object width=""420"" height=""2...",[],[{'external_url': 'http://www.webmetricsguru.c...,[],"{'type': 'Point', 'coordinates': [-73.985506, ..."
2,{'$oid': '5fae52970c9f40b6d220a560'},GENWI,genwi,http://www.crunchbase.com/company/genwi,http://www.genwi.com,http://blog.genwi.com,,genwi,mobile,25.0,...,None,[],"{'description': '', 'address1': '4966 El Camin...","[{'id': 14542, 'description': 'Rahul Patel, fo...",None,[],"[{'available_sizes': [[[150, 96], 'assets/imag...","[{'external_url': 'http://iSites.us', 'title':...",[],"{'type': 'Point', 'coordinates': [-111.9035, 3..."

In [40]:
pd.DataFrame(res).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners,coord
0,5fae52970c9f40b6d220a472,Mokitown,mokitown,http://www.crunchbase.com/company/mokitown,http://www.mokitown.com,,,,web,NaN,...,None,[],"{'description': None, 'address1': None, 'addre...",[],None,[],"[{'available_sizes': [[[150, 76], 'assets/imag...",[],[],"{'type': 'Point', 'coordinates': [-95.712891, ..."
1,5fae52970c9f40b6d220a55f,PeekYou,peekyou,http://www.crunchbase.com/company/peekyou,http://www.peekyou.com,http://www.peekyou.biz,http://blog.peekyou.com/feed/,peekyou,search,20.0,...,None,[],"{'description': None, 'address1': None, 'addre...","[{'id': 18106, 'description': 'Launched in Ste...",None,"[{'embed_code': '<object width=""420"" height=""2...",[],[{'external_url': 'http://www.webmetricsguru.c...,[],"{'type': 'Point', 'coordinates': [-73.985506, ..."
2,5fae52970c9f40b6d220a560,GENWI,genwi,http://www.crunchbase.com/company/genwi,http://www.genwi.com,http://blog.genwi.com,,genwi,mobile,25.0,...,None,[],"{'description': '', 'address1': '4966 El Camin...","[{'id': 14542, 'description': 'Rahul Patel, fo...",None,[],"[{'available_sizes': [[[150, 96], 'assets/imag...","[{'external_url': 'http://iSites.us', 'title':...",[],"{'type': 'Point', 'coordinates': [-111.9035, 3..."

In [45]:
pd.json_normalize(res).head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,acquisition.acquired_month,acquisition.acquired_day,acquisition.acquiring_company.name,acquisition.acquiring_company.permalink,ipo.valuation_amount,ipo.valuation_currency_code,ipo.pub_year,ipo.pub_month,ipo.pub_day,ipo.stock_symbol
0,5fae52970c9f40b6d220a472,Mokitown,mokitown,http://www.crunchbase.com/company/mokitown,http://www.mokitown.com,,,,web,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fae52970c9f40b6d220a55f,PeekYou,peekyou,http://www.crunchbase.com/company/peekyou,http://www.peekyou.com,http://www.peekyou.biz,http://blog.peekyou.com/feed/,peekyou,search,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5fae52970c9f40b6d220a560,GENWI,genwi,http://www.crunchbase.com/company/genwi,http://www.genwi.com,http://blog.genwi.com,,genwi,mobile,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
pd.DataFrame(res).loc[0,"offices"]

{'description': None,
 'address1': None,
 'address2': None,
 'zip_code': None,
 'city': None,
 'state_code': None,
 'country_code': 'USA',
 'latitude': 37.09024,
 'longitude': -95.712891}

In [46]:
pd.json_normalize(res).columns

Index(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url',
       'blog_url', 'blog_feed_url', 'twitter_username', 'category_code',
       'number_of_employees', 'founded_year', 'founded_month', 'founded_day',
       'deadpooled_year', 'deadpooled_month', 'deadpooled_day',
       'deadpooled_url', 'tag_list', 'alias_list', 'email_address',
       'phone_number', 'description', 'created_at', 'updated_at', 'overview',
       'products', 'relationships', 'competitions', 'providerships',
       'total_money_raised', 'funding_rounds', 'investments', 'acquisition',
       'acquisitions', 'milestones', 'ipo', 'video_embeds', 'screenshots',
       'external_links', 'partners', 'image.available_sizes',
       'image.attribution', 'offices.description', 'offices.address1',
       'offices.address2', 'offices.zip_code', 'offices.city',
       'offices.state_code', 'offices.country_code', 'offices.latitude',
       'offices.longitude', 'coord.type', 'coord.coordinates',
       'acquisition.price_amount', 'acquisition.price_currency_code',
       'acquisition.term_code', 'acquisition.source_url',
       'acquisition.source_description', 'acquisition.acquired_year',
       'acquisition.acquired_month', 'acquisition.acquired_day',
       'acquisition.acquiring_company.name',
       'acquisition.acquiring_company.permalink', 'ipo.valuation_amount',
       'ipo.valuation_currency_code', 'ipo.pub_year', 'ipo.pub_month',
       'ipo.pub_day', 'ipo.stock_symbol'],
      dtype='object')

In [49]:
# dict comprehension
a = {comp["name"]:comp["offices"] for comp in res}

In [50]:
# Exploring jsons
type(res)

list

In [53]:
element = res[0]
type(element)

dict

In [54]:
element.keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'deadpooled_month', 'deadpooled_day', 'deadpooled_url', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'ipo', 'video_embeds', 'screenshots', 'external_links', 'partners', 'coord'])

In [56]:
{k:type(v) for k,v in element.items()}

{'_id': bson.objectid.ObjectId,
 'name': str,
 'permalink': str,
 'crunchbase_url': str,
 'homepage_url': str,
 'blog_url': str,
 'blog_feed_url': str,
 'twitter_username': str,
 'category_code': str,
 'number_of_employees': NoneType,
 'founded_year': int,
 'founded_month': int,
 'founded_day': int,
 'deadpooled_year': NoneType,
 'deadpooled_month': NoneType,
 'deadpooled_day': NoneType,
 'deadpooled_url': NoneType,
 'tag_list': str,
 'alias_list': str,
 'email_address': str,
 'phone_number': str,
 'description': str,
 'created_at': str,
 'updated_at': str,
 'overview': str,
 'image': dict,
 'products': list,
 'relationships': list,
 'competitions': list,
 'providerships': list,
 'total_money_raised': str,
 'funding_rounds': list,
 'investments': list,
 'acquisition': NoneType,
 'acquisitions': list,
 'offices': dict,
 'milestones': list,
 'ipo': NoneType,
 'video_embeds': list,
 'screenshots': list,
 'external_links': list,
 'partners': list,
 'coord': dict}

In [83]:
def explore(x):
    if type(x) == dict:
        dic = {k:explore(v) for k,v in x.items()}
        return {"type":"dict", "content":dic}
    elif type(x) == list:
        return {"type":"list", "len":len(x), "content":[explore(e) if type(e)==dict else type(e) for e in x]}
    else:
        return type(x)

In [84]:
# Getting types of list
x = [1,1.5,6,"hola",None]
list(set([type(e) for e in x]))

[NoneType, int, float, str]

In [85]:
explore(element)

{'type': 'dict',
 'content': {'_id': bson.objectid.ObjectId,
  'name': str,
  'permalink': str,
  'crunchbase_url': str,
  'homepage_url': str,
  'blog_url': str,
  'blog_feed_url': str,
  'twitter_username': str,
  'category_code': str,
  'number_of_employees': NoneType,
  'founded_year': int,
  'founded_month': int,
  'founded_day': int,
  'deadpooled_year': NoneType,
  'deadpooled_month': NoneType,
  'deadpooled_day': NoneType,
  'deadpooled_url': NoneType,
  'tag_list': str,
  'alias_list': str,
  'email_address': str,
  'phone_number': str,
  'description': str,
  'created_at': str,
  'updated_at': str,
  'overview': str,
  'image': {'type': 'dict',
   'content': {'available_sizes': {'type': 'list',
     'len': 3,
     'content': [list, list, list]},
    'attribution': NoneType}},
  'products': {'type': 'list',
   'len': 1,
   'content': [{'type': 'dict', 'content': {'name': str, 'permalink': str}}]},
  'relationships': {'type': 'list', 'len': 0, 'content': []},
  'competitions': {'type': 'list',
   'len': 1,
   'content': [{'type': 'dict',
     'content': {'competitor': {'type': 'dict',
       'content': {'name': str, 'permalink': str}}}}]},
  'providerships': {'type': 'list', 'len': 0, 'content': []},
  'total_money_raised': str,
  'funding_rounds': {'type': 'list', 'len': 0, 'content': []},
  'investments': {'type': 'list', 'len': 0, 'content': []},
  'acquisition': NoneType,
  'acquisitions': {'type': 'list', 'len': 0, 'content': []},
  'offices': {'type': 'dict',
   'content': {'description': NoneType,
    'address1': NoneType,
    'address2': NoneType,
    'zip_code': NoneType,
    'city': NoneType,
    'state_code': NoneType,
    'country_code': str,
    'latitude': float,
    'longitude': float}},
  'milestones': {'type': 'list', 'len': 0, 'content': []},
  'ipo': NoneType,
  'video_embeds': {'type': 'list', 'len': 0, 'content': []},
  'screenshots': {'type': 'list',
   'len': 1,
   'content': [{'type': 'dict',
     'content': {'available_sizes': {'type': 'list',
       'len': 3,
       'content': [list, list, list]},
      'attribution': NoneType}}]},
  'external_links': {'type': 'list', 'len': 0, 'content': []},
  'partners': {'type': 'list', 'len': 0, 'content': []},
  'coord': {'type': 'dict',
   'content': {'type': str,
    'coordinates': {'type': 'list', 'len': 2, 'content': [float, float]}}}}}

In [87]:
set([comp['category_code'] for comp in res])

{'advertising',
 'analytics',
 'biotech',
 'ecommerce',
 'enterprise',
 'fashion',
 'games_video',
 'hospitality',
 'mobile',
 'network_hosting',
 'other',
 'photo_video',
 'search',
 'security',
 'social',
 'software',
 'travel',
 'web'}

In [90]:
category = []
for comp in res:
    category.append(comp['category_code'])
pd.Series(category).value_counts()

games_video        18
software           11
web                10
mobile              6
enterprise          6
advertising         6
travel              4
photo_video         4
ecommerce           4
other               3
security            2
analytics           2
search              2
network_hosting     1
biotech             1
hospitality         1
social              1
fashion             1
dtype: int64

In [96]:
category = {}
for comp in res:
    category[comp['category_code']] = category.get(comp['category_code'],0) + 1
category

{'web': 10,
 'search': 2,
 'mobile': 6,
 'enterprise': 6,
 'other': 3,
 'ecommerce': 4,
 'advertising': 6,
 'hospitality': 1,
 'games_video': 18,
 'analytics': 2,
 'software': 11,
 'social': 1,
 'travel': 4,
 'photo_video': 4,
 'security': 2,
 'network_hosting': 1,
 'fashion': 1,
 'biotech': 1}

### GeoQueries

In [99]:
df = pd.read_json("data/mlb_stadium.json", orient="records")

In [101]:
df.head(3)

,team,address,lat,lng
0,Anaheim Angels,"2000 Gene Autry Way, Anaheim, CA. 92806",33.799572,-117.889031
1,Arizona Diamondbacks,"P.O. Box 2095, Phoenix, AZ. 85001",33.452922,-112.038669
2,Atlanta Braves,"P.O. Box 4064, Atlanta, GA. 30302",33.746910,-84.391239

In [102]:
points = []
for i,stadium in df.iterrows():
    point = {
        "type":"Point",
        "coordinates":[stadium["lng"],stadium["lat"]]
    }
    points.append(point)

In [104]:
points[:3]

[{'type': 'Point', 'coordinates': [-117.889031, 33.799572]},
 {'type': 'Point', 'coordinates': [-112.038669, 33.452922]},
 {'type': 'Point', 'coordinates': [-84.391239, 33.74691]}]

In [106]:
baseball = []
for pt in points:
    res = coll.find({"coord":{"$near":pt,"$maxDistance":1000}})
    baseball += list(res)

In [108]:
len(baseball)

249

In [111]:
with open("data/mlb_stadium.json","r") as file:
    mlb = json.loads(file.read())

In [116]:
for stadium in mlb:
    stadium["geoJSON"] = {
        "type":"Point",
        "coordinates":[stadium["lng"],stadium["lat"]]
    }
    db.baseball.insert_one(stadium)

In [118]:
db.baseball.create_index([("geoJSON", "2dsphere")])

'geoJSON_2dsphere'

In [128]:
res = list(coll.find({"founded_year":{"$gte":2010}}))

In [139]:
baseball_near = {}
for comp in res:
    stad = db.baseball.find({"geoJSON":{"$near":comp["coord"], "$maxDistance":10_000}})
    baseball_near[comp["_id"]] = list(stad)

In [140]:
len(baseball_near)

83

In [144]:
for comp,stad in baseball_near.items():
    coll.update_one(
                    {"_id":comp},
                     {"$set":{"stadiums":stad}}
                    )