# List Comprehension

In [1]:
data_staff = ["Juan", "Adri", "Felipe", "Fernando", "Ras", "Manuel", "Nacho"]

In [2]:
data_mask = []
for pers in data_staff:
    data_mask.append(pers + "ğŸ˜·")

In [3]:
data_mask = [pers+"ğŸ˜·" for pers in data_staff]
data_mask

['JuanğŸ˜·', 'AdriğŸ˜·', 'FelipeğŸ˜·', 'FernandoğŸ˜·', 'RasğŸ˜·', 'ManuelğŸ˜·', 'NachoğŸ˜·']

In [4]:
data_staff = ["juan", "adri", "felipe", "fernando", "ras", "manuel", "nacho"]

In [5]:
data_up = []
for pers in data_staff:
    data_up.append(pers.capitalize())
data_up

['Juan', 'Adri', 'Felipe', 'Fernando', 'Ras', 'Manuel', 'Nacho']

In [6]:
data_up = [pers.capitalize() for pers in data_staff]
data_up

['Juan', 'Adri', 'Felipe', 'Fernando', 'Ras', 'Manuel', 'Nacho']

## Extra
In case there are names without ğŸ˜·

In [7]:
data_mask = ['Juan', 'AdriğŸ˜·', 'Felipe', 'FernandoğŸ˜·', 'RasğŸ˜·', 'Manuel', 'NachoğŸ˜·']

In [8]:
data_pos = []
for pers in data_mask:
    name = ""
    for letter in pers:
        if letter.isalpha():
            name += letter
    if len(name)>4:
        data_pos.append(pers)
data_pos

['Felipe', 'FernandoğŸ˜·', 'Manuel', 'NachoğŸ˜·']

In [9]:
# https://docs.python.org/3.4/library/stdtypes.html?highlight=strip
data_pos = []
for pers in data_mask:
    if len(pers.strip("ğŸ˜·"))>4:
        data_pos.append(pers)
data_pos

['Felipe', 'FernandoğŸ˜·', 'Manuel', 'NachoğŸ˜·']

## Select only the names with more than 4 characters

In [10]:
data_mask = [pers.capitalize()+"ğŸ˜·" for pers in data_staff]
data_mask

['JuanğŸ˜·', 'AdriğŸ˜·', 'FelipeğŸ˜·', 'FernandoğŸ˜·', 'RasğŸ˜·', 'ManuelğŸ˜·', 'NachoğŸ˜·']

In [11]:
# ""Filtering""
data_pos = [person for person in data_mask if len(person.strip("ğŸ˜·"))>4]
data_pos

['FelipeğŸ˜·', 'FernandoğŸ˜·', 'ManuelğŸ˜·', 'NachoğŸ˜·']

In [12]:
len(data_mask), len(data_pos)

(7, 4)

In [13]:
data_all = []
for pers in data_mask:
    if len(pers.strip("ğŸ˜·"))>4:
        data_all.append(pers.strip("ğŸ˜·")+"ğŸ ")
    else:
        data_all.append(pers+"ğŸ’»")
data_all

['JuanğŸ˜·ğŸ’»', 'AdriğŸ˜·ğŸ’»', 'FelipeğŸ ', 'FernandoğŸ ', 'RasğŸ˜·ğŸ’»', 'ManuelğŸ ', 'NachoğŸ ']

In [14]:
# Conditional asignement
data_all = [person.strip("ğŸ˜·")+"ğŸ " if len(person.strip("ğŸ˜·"))>4 else person+"ğŸ’»" for person in data_mask]
data_all

['JuanğŸ˜·ğŸ’»', 'AdriğŸ˜·ğŸ’»', 'FelipeğŸ ', 'FernandoğŸ ', 'RasğŸ˜·ğŸ’»', 'ManuelğŸ ', 'NachoğŸ ']

# [ ELEMENT if CONDITION(ternary) for LOOP if CONDITION(loop) ]

- Condition (loop) : defines whether to put an element or not on this iteration (of the for loop)
- Condition (ternary) : defines which element to put. As there must always be an element, there should always be an else for each if.

In [15]:
data_all = []
for pers in data_mask:
    if len(pers.strip("ğŸ˜·"))>4:
        data_all.append(pers.strip("ğŸ˜·")+"ğŸ ")
    elif len(pers.strip("ğŸ˜·"))<4:
        data_all.append(pers.strip("ğŸ˜·")+"ğŸ–")
    else:
        data_all.append(pers+"ğŸ’»")
data_all

['JuanğŸ˜·ğŸ’»', 'AdriğŸ˜·ğŸ’»', 'FelipeğŸ ', 'FernandoğŸ ', 'RasğŸ–', 'ManuelğŸ ', 'NachoğŸ ']

In [16]:
data_all = [person.strip("ğŸ˜·")+"ğŸ " 
            if len(person.strip("ğŸ˜·"))>4 else person.strip("ğŸ˜·")+"ğŸ–" 
            if len(person.strip("ğŸ˜·"))<4 else person+"ğŸ’»" 
            for person in data_mask]
data_all

['JuanğŸ˜·ğŸ’»', 'AdriğŸ˜·ğŸ’»', 'FelipeğŸ ', 'FernandoğŸ ', 'RasğŸ–', 'ManuelğŸ ', 'NachoğŸ ']

## Ternary operator

In [17]:
qqty_ss_h2o_c_madrid = 400
if qqty_ss_h2o_c_madrid > 1500:
    water_quality = "Bad"
else:
    water_quality = "Good"
water_quality

'Good'

In [18]:
qqty_ss_h2o_c_madrid = 3400
water_quality = "Good" if qqty_ss_h2o_c_madrid < 1500 else "Bad"
water_quality

'Bad'

# Nested List Comprehensions

In [19]:
movies = [["The fellowship of the ring", "Two Towers", "The Return of the King"], ["Dune", "Dune 2"], ["Die Hard", "Die Hard 2"], ["Spy Kids", "Spy Kids Reloaded: The teenage years"] ]

In [20]:
# Flatten
movies_flat = []
for serie in movies:
    for film in serie:
        movies_flat.append(film)
movies_flat

['The fellowship of the ring',
 'Two Towers',
 'The Return of the King',
 'Dune',
 'Dune 2',
 'Die Hard',
 'Die Hard 2',
 'Spy Kids',
 'Spy Kids Reloaded: The teenage years']

In [27]:
# Extra
# Concatenating lists
movies_flat = []
for serie in movies:
    movies_flat += serie
movies_flat

['The fellowship of the ring',
 'Two Towers',
 'The Return of the King',
 'Dune',
 'Dune 2',
 'Die Hard',
 'Die Hard 2',
 'Spy Kids',
 'Spy Kids Reloaded: The teenage years']

In [25]:
movies_flat = [film for series in movies for film in series]
movies_flat

['The fellowship of the ring',
 'Two Towers',
 'The Return of the King',
 'Dune',
 'Dune 2',
 'Die Hard',
 'Die Hard 2',
 'Spy Kids',
 'Spy Kids Reloaded: The teenage years']

![matryoshka](https://images-na.ssl-images-amazon.com/images/I/61%2BgLTYedpL._AC_SX425_.jpg)

## Ex.1

In [70]:
lst = [[[1,2,3],[4]],[[5,6],[7,8],[9,10],[11,12,13]],[[14,15],[16,17]]]

In [71]:
[l for l in lst]

[[[1, 2, 3], [4]],
 [[5, 6], [7, 8], [9, 10], [11, 12, 13]],
 [[14, 15], [16, 17]]]

In [72]:
[l_2 for l in lst for l_2 in l]

[[1, 2, 3], [4], [5, 6], [7, 8], [9, 10], [11, 12, 13], [14, 15], [16, 17]]

In [73]:
lst_flatten = [e for l in lst for l_2 in l for e in l_2]

In [74]:
[lst[i][j][k] for i in range(len(lst)) for j in range(len(lst[i])) for k in range(len(lst[i][j]))]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

## Challenge

In [83]:
mix_list = [["pato","oca"],[["pinscher","teckel"]],["gato","tigre"],[["carpa","nemo"],"fish"],"animal"]

In [85]:
[lst if type(lst)==list else [lst] for lst in mix_list]

[['pato', 'oca'],
 [['pinscher', 'teckel']],
 ['gato', 'tigre'],
 [['carpa', 'nemo'], 'fish'],
 ['animal']]

In [88]:
[lst_2 for lst in [lst if type(lst)==list else [lst] for lst in mix_list] for lst_2 in lst]

['pato',
 'oca',
 ['pinscher', 'teckel'],
 'gato',
 'tigre',
 ['carpa', 'nemo'],
 'fish',
 'animal']

In [89]:
[lst_2 if type(lst_2)==list else [lst_2] for lst in [lst if type(lst)==list else [lst] for lst in mix_list] for lst_2 in lst]

[['pato'],
 ['oca'],
 ['pinscher', 'teckel'],
 ['gato'],
 ['tigre'],
 ['carpa', 'nemo'],
 ['fish'],
 ['animal']]

In [90]:
[e for lst in [lst_2 if type(lst_2)==list else [lst_2] for lst in [lst if type(lst)==list else [lst] for lst in mix_list] for lst_2 in lst] for e in lst]

['pato',
 'oca',
 'pinscher',
 'teckel',
 'gato',
 'tigre',
 'carpa',
 'nemo',
 'fish',
 'animal']

In [95]:
# for loops
# Juanitooo
nueva = []
for x in mix_list:
    if type(x) == type([]):
        for y in x:
            if type(y) == type([]):
                for c in y:
                    nueva.append(c)
            else:
                nueva.append(y)
    else:
        nueva.append(x)
nueva

['pato',
 'oca',
 'pinscher',
 'teckel',
 'gato',
 'tigre',
 'carpa',
 'nemo',
 'fish',
 'animal']

## List Comprehensions with dict

In [96]:
hoteles = [
    ["MeliÃ¡", 4, "910 878 789"],
    ["nh", 5, "910 654 367"],
    ["Pension Lola", 2],
    ["airBnB de Adri", "657 78 65 45"]
]

In [101]:
hoteles = [
    {"name":"MeliÃ ", "stars": 4, "tel":"910 878 789", "vacancy":150},
    {"name":"nh", "stars":5, "tel":"910 654 367", "vacancy":80},
    {"name":"Pension Lola", "stars":2, "vacancy":16},
    {"name":"airBnB de Adri", "tel":"657 78 65 45", "vacancy":2}
]

In [102]:
hoteles[1]["stars"]

5

In [105]:
sum([h["vacancy"] for h in hoteles])

248

In [115]:
import statistics
statistics.mean([h["stars"] for h in hoteles if "stars" in h])

3.6666666666666665

In [116]:
statistics.mean([h.get("stars",0) for h in hoteles])

2.75

In [117]:
statistics.mean([h.get("stars",2.5) for h in hoteles])

3.375

### dict.get(key, default)
Return value for key or default if key not present

In [118]:
films = [
    {"name":"Avengers","scores":[7,6,6,7.5]},
    {"name":"Interstellar","scores":[8,10,9,9,6]},
    {"name":"Inception","scores":[8,7,8,8.5]},
    {"name":"Blade Runner","scores":[10,10,7,3]}
]

In [124]:
scores = [[film["name"], statistics.mean(film["scores"])] for film in films]
scores

[['Avengers', 6.625],
 ['Interstellar', 8.4],
 ['Inception', 7.875],
 ['Blade Runner', 7.5]]

In [125]:
for film in scores:
    if film[0] == "Inception":
        inc = film[-1]
inc

7.875

# Dict Comprehension

In [132]:
scores = {film["name"].lower().replace(" ","_"):statistics.mean(film["scores"]) for film in films}
scores

{'avengers': 6.625,
 'interstellar': 8.4,
 'inception': 7.875,
 'blade_runner': 7.5}

In [133]:
scores["avengers"]

6.625